src/checkResultNotification.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://isna.grazhdanin.kz/audit/tax-act-result-notif/v10/types"
           xmlns:tns="http://isna.grazhdanin.kz/audit/tax-act-result-notif/v10/types" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../../xmldsig-core-schema.xsd"/>

    <xs:element name="taxActResultNotifRequest" type="tns:TaxActResultNotifRequest">
        <xs:annotation>
            <xs:documentation>Запрос уведомления о результатах налоговой, ликвидационной проверки, обжалования</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="TaxActResultNotifRequest">
        <xs:annotation>
            <xs:documentation>Запрос уведомления о результатах налоговой, ликвидационной проверки, обжалования</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="notificationType" type="tns:Dictionary">
                <xs:annotation>
                    <xs:documentation>Тип уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notificationDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата формирования/создания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fullNotificationNumber" type="tns:FullNotificationNumber">
                <xs:annotation>
                    <xs:documentation>Полный номер уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxPayer" type="tns:TaxPayer">
                <xs:annotation>
                    <xs:documentation>Налогоплательщик(НП)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxOrgHead" type="tns:TaxOrgHead">
                <xs:annotation>
                    <xs:documentation>Руководитель ОГД</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="parentDocInfo" type="tns:ParentDocInfo">
                <xs:annotation>
                    <xs:documentation>Родительский документ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notificationInfo" type="tns:NotificationInfo" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Содержание уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature">
                <xs:annotation>
                    <xs:documentation>ЭЦП</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FullNotificationNumber">
        <xs:annotation>
            <xs:documentation>Полный номер уведомления</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="notificationNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fractionNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Дробная часть номера уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxPayer">
        <xs:annotation>
            <xs:documentation>Налогоплательщик(НП)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tpType" type="tns:TaxPayerType">
                <xs:annotation>
                    <xs:documentation>Тип НП</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="iinBin" type="xs:string">
                <xs:annotation>
                    <xs:documentation>ИИН/БИН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="tns:LocalizedText">
                <xs:annotation>
                    <xs:documentation>ФИО/Наименование НП</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="address" type="tns:Address">
                <xs:annotation>
                    <xs:documentation>Адрес НП</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Address">
        <xs:annotation>
            <xs:documentation>Адрес НП</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="arCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код АР</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="tns:LocalizedText">
                <xs:annotation>
                    <xs:documentation>Наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxOrgHead">
        <xs:annotation>
            <xs:documentation>Руководитель ОГД</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="position" type="tns:LocalizedText">
                <xs:annotation>
                    <xs:documentation>Должность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="tns:LocalizedText">
                <xs:annotation>
                    <xs:documentation>ФИО</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParentDocInfo">
        <xs:annotation>
            <xs:documentation>Родительский документ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="docType" type="tns:Dictionary">
                <xs:annotation>
                    <xs:documentation>Тип родительского документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="docDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата формирования/создания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="docNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="solutionId" type="tns:SolutionId">
                <xs:annotation>
                    <xs:documentation>Вынесенное решение</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NotificationInfo">
        <xs:annotation>
            <xs:documentation>Содержание уведомления</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxOrg" type="tns:Dictionary">
                <xs:annotation>
                    <xs:documentation>ОГД</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="binTaxOrg" type="xs:string">
                <xs:annotation>
                    <xs:documentation>БИН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tableInfo" type="tns:TableInfo" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Данные таблиц</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="paymentInfo" type="tns:PaymentInfo">
                <xs:annotation>
                    <xs:documentation>Данные платежа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TableInfo">
        <xs:annotation>
            <xs:documentation>Данные таблиц</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxTableType" type="tns:TaxTableType">
                <xs:annotation>
                    <xs:documentation>Тип таблицы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxInfoItemType1" type="tns:TaxInfoItemType1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Строки для таблиц: 1, 2, 4, 5, 6</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxInfoItemType2" type="tns:TaxInfoItemType2">
                <xs:annotation>
                    <xs:documentation>Данные для таблиц: 3</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxRevPeriod" type="tns:TaxRevPeriod">
                <xs:annotation>
                    <xs:documentation>Проверяемый период</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxInfoItemType1">
        <xs:annotation>
            <xs:documentation>Строка таблицы с типом 1</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="kbk" type="tns:Dictionary">
                <xs:annotation>
                    <xs:documentation>КБК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма налога</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="penaltyAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма пени</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxInfoItemType2">
        <xs:annotation>
            <xs:documentation>Строка таблицы с типом 2</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sumAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentInfo">
        <xs:annotation>
            <xs:documentation>Данные платежа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxOrgPaymentInfo" type="tns:TaxOrgPaymentInfo">
                <xs:annotation>
                    <xs:documentation>Орган государственных доходов(ОГД)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="akimOffice" type="tns:AkimOffice">
                <xs:annotation>
                    <xs:documentation>Аппарат акимов</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="socialPayments" type="tns:SocialPayments">
                <xs:annotation>
                    <xs:documentation>Социальные платежи</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxOrgPaymentInfo">
        <xs:annotation>
            <xs:documentation>Орган государственных доходов(ОГД)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxOrgAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма к оплате</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bikTaxOrg" type="xs:string">
                <xs:annotation>
                    <xs:documentation>БИК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="treDep" type="tns:Dictionary">
                <xs:annotation>
                    <xs:documentation>Казначейство</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="accountTaxOrg" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер счета</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AkimOffice">
        <xs:annotation>
            <xs:documentation>Аппарат акимов</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxInfoItemAkim" type="tns:TaxInfoItemAkim" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Список сумм, оплачиваемых в Аппарат Акима </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxInfoItemAkim">
        <xs:annotation>
            <xs:documentation>Список сумм, оплачиваемых в Аппарат Акима</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="kbk" type="tns:Dictionary">
                <xs:annotation>
                    <xs:documentation>КБК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма налога</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="penaltyAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма пени</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SocialPayments">
        <xs:annotation>
            <xs:documentation>Социальные платежи</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="amountPayable" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Сумма к оплате</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TaxRevPeriod">
        <xs:annotation>
            <xs:documentation>Проверяемый период</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="from" type="xs:date">
                <xs:annotation>
                    <xs:documentation>с</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="by" type="xs:date">
                <xs:annotation>
                    <xs:documentation>по</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dictionary">
        <xs:annotation>
            <xs:documentation>Справочник</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="tns:LocalizedText">
                <xs:annotation>
                    <xs:documentation>Наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalizedText">
        <xs:annotation>
            <xs:documentation>Локализованный текст</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="kk" type="xs:string">
                <xs:annotation>
                    <xs:documentation>На государственном языке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ru" type="xs:string">
                <xs:annotation>
                    <xs:documentation>На русском языке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="en" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>На английском языке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="qq" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>На латинице</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SolutionId" final="restriction">
        <xs:annotation>
            <xs:documentation>
                Вынесенное решение в уведомлении об итогах рассмотрения жалобы:
                RES1 - Оставить обжалуемое уведомление о результатах проверки без изменения, а жалобу без удовлетворения,
                RES2 - Отменить обжалуемое уведомление о результатах проверки в части,
                RES3 - Отменить обжалуемое уведомление о результатах проверки полностью
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RES1"/>
            <xs:enumeration value="RES2"/>
            <xs:enumeration value="RES3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TaxTableType" final="restriction">
        <xs:annotation>
            <xs:documentation>
                Тип таблицы в уведомлении:
                TAB1N - О начисленной сумме налогов, таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и других обязательных платежей в бюджет и пени,
                TAB2N - О начисленной сумме социальных платежей и пени,
                TAB3N - О сумме уменьшенного убытка,
                TAB4N - О сумме превышения налога на добавленную стоимость, относимого в зачет, над суммой начисленного налога, не подтвержденной к возврату, не подлежащей уплате в бюджет,
                TAB5N - О сумме превышения налога на добавленную стоимость, возвращенной из бюджета и не подтвержденной к возврату,
                TAB6N - О сумме корпоративного (индивидуального) подоходного налога, удержанного у источника выплаты, с доходов нерезидентов, не подтвержденной к возврату, не подлежащей уплате в бюджет,
                TAB1L - О начисленной сумме налогов и других обязательных платежей в бюджет,
                TAB2L - О начисленной сумме социальных платежей,
                TAB1C - Начисленная сумма налогов и других обязательных платежей в бюджет и пени с учетом результатов рассмотрения жалобы,
                TAB2C - Начисленная сумма социальных платежей и пени с учетом результатов рассмотрения жалобы,
                TAB3C - Сумма уменьшенного убытка с учетом результатов рассмотрения жалобы,
                TAB4C - Сумма превышения налога на добавленную стоимость, относимого в зачет, над суммой начисленного налога, не подтвержденной к возврату с учетом результатов рассмотрения жалобы,
                TAB5C - Сумма превышения налога на добавленную стоимость, возвращенная из бюджета и не подтвержденная к возврату с учетом результатов рассмотрения жалобы,
                TAB6C - Сумма корпоративного (индивидуального) подоходного налога, удержанного у источника выплаты, с доходов нерезидентов, не подтвержденная к возврату (не подлежит уплате в бюджет) с учетом результатов рассмотрения жалобы
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAB1N"/>
            <xs:enumeration value="TAB2N"/>
            <xs:enumeration value="TAB3N"/>
            <xs:enumeration value="TAB4N"/>
            <xs:enumeration value="TAB5N"/>
            <xs:enumeration value="TAB6N"/>
            <xs:enumeration value="TAB1L"/>
            <xs:enumeration value="TAB2L"/>
            <xs:enumeration value="TAB1C"/>
            <xs:enumeration value="TAB2C"/>
            <xs:enumeration value="TAB3C"/>
            <xs:enumeration value="TAB4C"/>
            <xs:enumeration value="TAB5C"/>
            <xs:enumeration value="TAB6C"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TaxPayerType" final="restriction">
        <xs:annotation>
            <xs:documentation>
                Тип НП:
                UL-юридическое лицо резидент,
                FL-физическое лицо резидент,
                UL_NR-юридическое лицо нерезидент,
                FL_NR-физическое лицо нерезидент,
                IP-индивидуальный предприниматель,
                IPS-индивидуальный предприниматель (с),
                LZCHP-лицо, занимающееся частной практикой
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UL"/>
            <xs:enumeration value="FL"/>
            <xs:enumeration value="UL_NR"/>
            <xs:enumeration value="FL_NR"/>
            <xs:enumeration value="IP"/>
            <xs:enumeration value="IPS"/>
            <xs:enumeration value="LZCHP"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

